nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a{
  width: 317px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
  color: rgb(214, 37, 37);
  font-size: 30px;
}

nav img {
  width: 100px;
  height: 100px;
}

nav ul{
  display: flex;

}

nav li{
  list-style-type: none;
  margin-left: 40px;
  font-weight: 500;
  font-size: 20px;
}